.flex-center {
  display: flex;
  justify-content: center;
}
.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
  line-height: 1.4;
}
nav {
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}
nav .title-home {
  width: 20%;
  display: flex;
  justify-content: center;
  font-size: 3.2rem;
  color: white;
}
nav .title-home a {
  text-decoration: none;
  color: white;
}
nav .links-left {
  width: 55%;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
nav .links-left a {
  text-decoration: none;
  color: white;
  display: flex;
  padding: 0 2%;
}
nav .links-left a:hover {
  color: #00e676;
}
nav .links-right {
  width: 25%;
  justify-content: center;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 0 1%;
}
nav .links-right a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
nav .links-right a:hover {
  color: #00e676;
}
nav .links-right :last-child {
  background-color: white;
  color: black;
  border-radius: 5%;
  padding: 0 3%;
}
nav .links-right :last-child:hover {
  background-color: #0288d1;
  color: white;
}
body header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
}
body header img {
  width: 65%;
  height: 100%;
  z-index: 0;
}
body header .first-half-header {
  width: 23%;
  height: 50%;
  position: absolute;
  z-index: 1;
  left: 8%;
  background-color: white;
}
body header .first-half-header h3 {
  margin: 5%;
  font-size: 4rem;
}
body header .first-half-header p {
  margin: 5%;
  font-size: 1.5rem;
}
body header .first-half-header a {
  font-size: 1.8rem;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 2%;
  margin: 5%;
}
body header .first-half-header a:hover {
  color: #00e676;
}
body .before-section {
  width: 90%;
  margin: 4% 4% 4% 5.1%;
}
body .before-section h2 {
  font-size: 3.2rem;
}
body .first-section {
  display: flex;
  justify-content: center;
  margin: 2% 5% 5% 5%;
}
body .first-section .section-row-one {
  margin: 1% 2% 1% 0%;
}
body .first-section .section-row-one h3 {
  font-size: 2.3rem;
  margin: 2% 2% 1% 0%;
}
body .first-section .section-row-one p {
  font-size: 1.5rem;
  margin: 2% 2% 1% 0%;
}
body .first-section .section-row-two {
  margin: 1% 2% 1% 0%;
}
body .first-section .section-row-two h3 {
  font-size: 2.3rem;
  margin: 2% 2% 1% 0%;
}
body .first-section .section-row-two p {
  font-size: 1.5rem;
  margin: 2% 2% 1% 0%;
}
body .first-section .section-row-three {
  margin: 1% 2% 1% 0%;
}
body .first-section .section-row-three h3 {
  font-size: 2.3rem;
  margin: 2% 2% 1% 0%;
}
body .first-section .section-row-three p {
  font-size: 1.5rem;
  margin: 2% 2% 1% 0%;
}
body .second-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 0 5%;
}
body .second-section .section-column-one {
  display: flex;
  flex-direction: row-reverse;
  margin: 9%;
}
body .second-section .section-column-one img {
  width: 40%;
  height: 20%;
}
body .second-section .section-column-one .section-column-one-words h3 {
  font-size: 3.2rem;
  margin: 1%;
  padding-bottom: 1%;
}
body .second-section .section-column-one .section-column-one-words p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 1%;
}
body .second-section .section-column-two {
  display: flex;
  flex-direction: row;
  margin: 9%;
}
body .second-section .section-column-two img {
  width: 40%;
  height: 20%;
}
body .second-section .section-column-two .section-column-two-words h3 {
  font-size: 3.2rem;
  margin: 1%;
  padding-bottom: 1%;
}
body .second-section .section-column-two .section-column-two-words p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 1%;
}
body .second-section .section-column-three {
  display: flex;
  flex-direction: row-reverse;
  margin: 9%;
}
body .second-section .section-column-three img {
  width: 40%;
  height: 20%;
}
body .second-section .section-column-three .section-column-three-words h3 {
  font-size: 3.2rem;
  margin: 1%;
  padding-bottom: 1%;
}
body .second-section .section-column-three .section-column-three-words p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 1%;
}
body .third-section {
  display: flex;
  justify-content: center;
  margin: 5%;
  width: 90%;
  flex-direction: column;
}
body .third-section h2 {
  font-size: 3.2rem;
}
body footer {
  display: flex;
  justify-content: center;
}
