body {
    .frst-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
        @media @tablet {
            text-align: center;
        }
        h1 {
            font-weight: 500;
            font-size: 3.2rem;
            margin-bottom: 2%;
        }
        p {
            font-size: 2rem;
            padding: 0 10%;
        }
    }
    .scnd-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
        @media @tablet {
            text-align: center;
        }
        h2 {
            font-weight: 400;
            font-size: 3.2rem;
            margin-bottom: 2%;
        }
    }
}
